body {
  background-color: #f8f8f8;
}
#wrapper {
  width: 100%;
}
#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background-color: white;
}
@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 10px;
    padding: 0 30px;
    /*border-left: 1px solid #e7e7e7;*/
  }
}

.multi-textarea {
    margin-bottom: 10px;
}

.clean-script, .doan-van {
    white-space: pre-wrap;
    padding: 10px;
}

#page-wrapper zz {
    color: red;
    font-weight: bold;
}

.script-words {
    display: none;
}